body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

section {
    display: flex;
    padding: 50rem;
}

button {
    height: 5rem;
    width: 5rem;    
}

footer {
    padding: 5rem;
}

.kor:hover {
    background-color:blue
}
.kor.selected {
    background-color:blue
}

.usa:hover {
    background-color:yellow
}
.usa.selected {
    background-color:yellow
}

.jpn:hover {
    background-color:red
}
.jpn.selected {
    background-color:red
}

.hkg:hover {
    background-color:green
}
.hkg.selected {
    background-color:green
}

aside{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    padding: 2rem;
}

ol {
    text-align:left;
}