.idea
/.env
/venv/
*.pyc
__pycache__
/temp/
/.vscode/
Dockerfile
nginx.conf
docker-compose.yml
# /main/migrations/*
# !/main/migrations/__init__.py
# db.sqlite3
aws_mytravel_key.pem
aws_mytravel_key.ppk
DJANGO_SECRET_KEY
