{% extends 'main/base.html' %}

{% block content %}

<div style="margin:1rem">그 동안 여행했던 나라를 모두 선택해주세요!<br>
    재미있는 통계 결과를 알려드립니다.</div>

<section>
    <main>
        <svg></svg>
    </main>

    <aside>
        <p style="font-weight: bold">
            <가본 나라>
        </p>
        <ol>
        </ol>
    </aside>
</section>


<form action="/result" method="post">
    {% csrf_token %}
    <input class='input' type="hidden" name='countriesArray' value=''>
    <input class='input2' type="hidden" name='liArray' value=''>
    <input class='submit' type='submit' value="결과 저장">
</form>

{% endblock %}