{% extends 'main/base.html' %}

{% block content %}

<section>
    <main>
        <svg></svg>
    </main>

    <aside>
        <p style="font-weight: bold">
            <가본 나라>
        </p>
        <ul>
        </ul>
    </aside>
</section>


<form action="/result" method="post">
    {% csrf_token %}
    <input class='input' type="hidden" name='countriesArray' value=''>
    <!-- <input class='input2' type="hidden" name='liArray' value=''> -->
    <input class='submit btn btn-primary' type='submit' value="저장 및 결과">
</form>

{% endblock %}