{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여최몇?</title>

    <!--  BOOTSTRAP  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <script src="{% static 'main/js/main.js' %}" defer></script>
</head>

<body>
    <header>
        <a href=""><h1>여최몇?</h1></a>
    </header>


    <section>
        <main>
            <button class="kor">대한민국</button>
            <button class="usa">미국</button>
            <br>
            <button class="jpn">일본</button>
            <button class="hkg">홍콩</button>
        </main>

        <aside>
            가본 나라
            <ol>
                
            </ol>
        </aside>
    </section>


    <footer>
        <input type="submit" value="저장">
    </footer>

    <hr style="width:90vw">
    <div>
        참가자 수 및 통계
    </div>
</body>

</html>