{% load static %}

<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여최몇?</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="{% static 'main/js/main.js' %}" defer></script>
</head>

<body>
    <header>
        <a href=""><h1>여최몇?</h1></a>
    </header>


    <section>
        <main>
            <button class="kor">대한민국</button>
            <button class="usa">미국</button>
            <br>
            <button class="jpn">일본</button>
            <button class="hkg">홍콩</button>
        </main>

        <aside>
            가본 나라
            <ol>
                
            </ol>
        </aside>
    </section>


    <footer>
        <input type="submit" value="저장">
    </footer>


    <div>
        참가자 수 및 통계
    </div>
</body>

</html>