body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    font-family: 'Nanum Gothic', sans-serif;
}

header h1 {
    font-family: 'East Sea Dokdo', cursive;
    color:black;
    font-size: 5rem;
}

header a {
    text-decoration:none;
    }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

button {
    height: 5rem;
    width: 5rem;
}

footer {
    padding: 5rem;
    text-align: center;
}


.kor:hover {
    background-color:blue
}
.kor.selected {
    background-color:blue
}

svg {
    background-color: paleturquoise;
}

.country {
    fill: ivory;
    stroke: black;
}

/*
.country:hover {
    fill: gold;
    fill-opacity: 0.5;
}

.selected {
    fill: orange;
    }
*/

.hover-info {
  width: 150px;
  z-index: 10001;
  position: absolute;
  background: aliceblue;
  border: 2px solid black;
  border-radius: 4px;
  overflow: visible;
  padding: 0.2rem;
}






aside{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    padding: 2rem;
}

ol {
    text-align:left;
}